# Notebook di preparazione

In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (1.0.5)
Requirement already satisfied: numpy in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.18.5)
Requirement already satisfied: scikit-learn in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (0.23.1)
Requirement already satisfied: matplotlib in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (3.2.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\tesys\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\tesys\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tesys\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\tesys\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (0.16.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\tesys\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.5.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\tesys\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tesys\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tesys\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\tesys\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->-r requirements.txt (line 1)) (1.15.0)

In [99]:
import pandas as pd
import os
import numpy as np
import math
from sklearn.utils import shuffle

In [100]:
dataset_piazzamenti = pd.read_csv(os.path.join('.', "Placement_Data_Full_Class.train.csv"))
#METTO A 0 IL SALARIO PER STATUS NON PLACED
dataset_piazzamenti.loc[np.isnan(dataset_piazzamenti['salary']), 'salary'] = 0.0
dataset_piazzamenti = dataset_piazzamenti.dropna()

In [101]:
data_columns = list(dataset_piazzamenti.columns.values)

In [102]:
dataset_piazzamenti = shuffle(dataset_piazzamenti)
dataset_piazzamenti = dataset_piazzamenti.reset_index(drop=True)

In [103]:
dataset_piazzamenti

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Placed,M,76.76,Others,76.5,Others,Commerce,67.5,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,350000.0
1,Placed,M,84.00,Others,90.9,Others,Science,64.5,Sci&Tech,No,86.04,Mkt&Fin,59.42,270000.0
2,Placed,M,65.20,Central,61.4,Central,Commerce,64.8,Comm&Mgmt,Yes,93.40,Mkt&Fin,57.34,270000.0
3,Placed,M,70.00,Central,74.0,Central,Commerce,65.0,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,300000.0
4,Placed,F,61.00,Central,81.0,Central,Commerce,66.4,Comm&Mgmt,No,50.89,Mkt&HR,62.21,278000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Not Placed,F,63.40,Others,67.2,Others,Commerce,60.0,Comm&Mgmt,No,58.06,Mkt&HR,69.28,0.0
168,Not Placed,F,69.70,Central,47.0,Central,Commerce,72.7,Sci&Tech,No,79.00,Mkt&HR,59.24,0.0
169,Placed,M,60.00,Others,67.0,Others,Arts,70.0,Comm&Mgmt,Yes,50.48,Mkt&Fin,77.89,236000.0
170,Placed,F,69.50,Central,70.0,Central,Science,72.0,Sci&Tech,No,57.20,Mkt&HR,54.80,250000.0
171,Not Placed,M,56.00,Central,52.0,Central,Science,52.0,Sci&Tech,No,66.00,Mkt&HR,59.43,0.0

In [104]:
# TRAINING SET 75 % TEST SET 25%
print(np.shape(dataset_piazzamenti))
split_size = np.shape(dataset_piazzamenti)[0]
split_limit = split_size - math.floor(split_size * 0.25)

(172, 14)

In [105]:
dataset_piazzamenti_training = dataset_piazzamenti[dataset_piazzamenti.index < split_limit]
dataset_piazzamenti_test = dataset_piazzamenti[dataset_piazzamenti.index >= split_limit]

In [106]:
# SCRIVO I DUE FILE CSV
dataset_piazzamenti_training.to_csv('train.csv', ',', index=False)
dataset_piazzamenti_test.to_csv('test.csv', ',', index=False)